* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* border-bottom: 1px solid #ccc; */
}

.header {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}
.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
  font-weight: 200;
}

form {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.btn {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.acc-client,
.acc-type,
.acc-amount {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

input {
  padding: 0 10px;
}

input,
select {
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
}

.output {
  width: 80%;
  margin: 0 auto;
  padding-inline: 10px;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

.beneficiaries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.heading {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}
.beneficiary {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  cursor: pointer;
}

.beneficiaries:has(li:hover) li:not(:hover) {
  scale: 0.991;
  opacity: 0.8;
  background-color: #fdfdfd;
}

footer {
  padding: 2rem 0;
  color: #ccc;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
